@use "mixin" as *;

%text-truncate {
  display: -webkit-box;
  -webkit-line-clamp: var(--line, 2);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

*, *::after, *::before {
  box-sizing: border-box;
}

:root {
  --grid-layout-2-1-col: 58% minmax(0, 1fr);
  --grid-layout-gap: 60px;
  --main-border-radius: 12px;
  --navbar-height: 90px;
  --article-base-line-height: 1.75;
  --article-base-text-size: 1.125rem;
  --article-para-spacing: calc(var(--article-base-line-height) * var(--article-base-text-size));
  --scroll-offset: calc(var(--wp-admin--admin-bar--height, 0px) + var(--navbar-height) + 20px);
  scroll-behavior: smooth;
  scroll-padding-block-start: var(--scroll-offset);


  @include desktop-md {
    --grid-layout-2-1-col: repeat(2, minmax(0,1fr));
    --grid-layout-gap: 30px;
  }

  @media (width <= 782px) and (width > 480px) {
    --wp-admin--admin-bar--height: 46px !important;
  }

  @media (width <= 480px) {
    --wp-admin--admin-bar--height: 0px !important;
  }

  @include mobile {
    --grid-layout-2-1-col: 100%;
    --grid-layout-gap: 30px;
    --navbar-height: 76px;
  }
}

body {
  --wp--preset--font-size--small: 0.875rem;
  --wp--preset--font-size--medium: 1rem;
  font-size: var(--wp--preset--font-size--normal);
  font-family: Inter, 'Noto Sans TC', sans-serif;

  a {
    text-decoration: none;
    transition: all 200ms ease;
  }
}

/* Typography Start */
#section-latest-article {
  --heading-size: 2.125rem;
  --cat-text-size: 1.25rem;
}

#section-event {
  --heading-size: 1.875rem;

  .home-event-card__title {
    font-weight: 600;
  }
}

#section-portfolio,
#section-search-post {
  --heading-size: 2rem;
}

#section-cases,
#section-omni-channel,
#section-latest-features,
#section-resources {
  --cat-text-size: 1rem;

  .section-title {
    --heading-size: 1.75rem;
    font-weight: 400;
  }
}

#section-cases,
#section-omni-channel,
#section-latest-features,
#search-result,
#category-result {
  .article-card {
    --heading-size: 1.5rem;
  }
}

#section-omni-channel {
  @include desktop-only {
    .article-card:first-child {
      --heading-size: 1.75rem;
    }
  }
}

#section-resources {
  .resource-card__title {
    --heading-size: 1.375rem;
  }
}

#section-newsletter,
#section-faq,
#section-footer-banner {
  --heading-size: 2.5rem;
}

#section-faq {
  .section-title {
    font-weight: 700;
  }
}

#article {
  --heading-size: 2.875rem;
  --cat-text-size: 1.25rem;
  --quote-text-size: 1.375rem;

  .article__title {
    line-height: 1.2;
    font-weight: 400;
    color: #1c1c1c;
  }

  .toc-title {
    --heading-size: 1.5rem;
  }

  .sticky-item {
    --heading-size: 1.125rem;
  }

  .inquiry-form {
    --heading-size: 2.5rem;
  }
}

#related-articles {
  --heading-size: 2.5rem;

  .article-card__title {
    --heading-size: 1.5rem;
  }

  @include mobile {
    --heading-size: 2rem !important;
  }
}

#search-result,
#category-result,
#search-page {
  --heading-size: 2.25rem;

  .wp-block-query-title span {
    font-style: normal;
  }
}

:lang(zh) {
  #section-latest-article {
    --heading-size: 1.875rem;
    --cat-text-size: 1.125rem;
  }

  #section-event {
    --heading-size: 1.75rem;
  }

  #section-portfolio,
  #section-search-post {
    --heading-size: 1.875rem;
  }

  #section-cases,
  #section-omni-channel,
  #section-latest-features,
  #section-resources {
    --cat-text-size: 0.875rem;

    .section-title {
      --heading-size: 1.625rem;
    }
  }

  #section-cases,
  #section-omni-channel,
  #section-latest-features {
    .article-card {
      --heading-size: 1.375rem;
    }
  }

  #section-omni-channel {
    @include desktop-only {
      .article-card:first-child {
        --heading-size: 1.625rem;
      }
    }
  }

  #section-resources {
    .resource-card__title {
      --heading-size: 1.25rem;
    }
  }

  #section-newsletter,
  #section-faq,
  #section-footer-banner {
    --heading-size: 2.375rem;
  }

  #article {
    --heading-size: 2.625rem;
    --cat-text-size: 1.125rem;
    --quote-text-size: 1.25rem;

    // .dynamic-title {
    //   line-height: revert;
    // }

    .toc-title {
      --heading-size: 1.375rem;
    }

    .sticky-item {
      --heading-size: 1rem;
    }

    .inquiry-form {
      --heading-size: 2.375rem;
    }
  }

  #related-articles {
    --heading-size: 2.375rem;

    .article-card__title {
      --heading-size: 1.375rem;
    }
  }
}

/* Typography End */

/* Global Styles Start */
.wp-site-blocks {
  h1, h2, h3, h4, h5, h6,
  .taxonomy-category {
    font-family: Outfit, Inter, 'Noto Sans TC', sans-serif !important;
    line-height: 1.35;
  }
}

.taxonomy-category {
  position: relative;
  font-size: var(--cat-text-size, 1rem);
  color: #006aff;
  font-weight: 700;
  z-index: 1;

  a {
    color: inherit;

    &:hover {
      text-decoration: none;
      color: #0033E6;
    }
  }
}

.wp-block-navigation__submenu-icon {
  svg {
    display: none !important;
  }

  &::after {
    content: '';
    display: block;
    width: 0.5em;
    height: 0.5em;
    border-bottom: 1px solid currentColor;
    border-right: 1px solid currentColor;
    transform: rotate(45deg) translateY(-0.2em);
  }
}

.wp-block-navigation-item.open-on-click .wp-block-navigation-submenu__toggle {
  padding-right: 1.2em;
}

.wp-block-navigation-submenu__toggle {
  &:hover,
  &:hover ~ .wp-block-navigation__submenu-icon {
    color: var(--wp--preset--color--accent) !important;
  }
}

.wp-site-blocks > header:has(#navbar) {
  position: sticky;
  top: 0;
  z-index: 49;

  @include desktop-only {
    top: var(--wp-admin--admin-bar--height, 0);
  }
}

.wp-element-button:focus, .wp-block-button__link:focus {
  outline: none;
}

// .taxonomy-category,
// .wp-block-post-terms {
//   font: revert;
// }

// [id] {
//   scroll-margin-block-start: var(--scroll-offset);
// }
/* Global Styles End */

/* Utility Class Start */
[class*="text-overflow-"] > * {
  display: inline !important;
}

.text-overflow-single {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap !important;
}

.text-truncate {
  @extend %text-truncate;
}

.text-overflow-lines-2 {
  --line: 2;
  @extend .text-truncate;
}

.text-overflow-lines-3 {
  --line: 3;
  @extend .text-truncate;
}

.text-overflow-lines-4 {
  --line: 4;
  @extend .text-truncate;
}

.aspect-img {
  position: relative;
  overflow: hidden;
  border-radius: var(--main-border-radius);
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  aspect-ratio: var(--ratio, 1/1);

  figure {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  img {
    width: 100%;
    height: 100%;
    object-position: center top;
    object-fit: cover;
    border-radius: inherit !important;
  }
}

.dynamic-title {
  // text-wrap: balance;
  // letter-spacing: 0.04em;
  font-size: var(--heading-size, 1.875rem);
  font-weight: 500;
  line-height: 1.35;
  margin-block: 0;

  > * {
    font: inherit !important;
    color: inherit !important;
    margin-block: inherit !important;
  }

  a {
    &:hover {
      text-decoration: none;
      color: currentColor !important;  
    }
  }
}

.horizontal-card-layout {
  display: flex;
  align-items: stretch !important;

  @include mobile {
    flex-direction: column;
    gap: 24px !important;
  }
}

.article-categories {
  > *:not(:first-child) {
    display: none;
  }
}

.font-outfit {
  font-family: Outfit, Inter, 'Noto Sans TC', sans-serif;
}
/* Utility Class End */

/* Component Class Start */
.article-card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 0;

  .custom-read-more {
    margin-top: auto;
  }

  &__img {
    --ratio: 386/246;
    background-color: #d9d9d9;
  }

  &__category {
    @extend .article-categories;
    font-size: var(--cat-text-size, 1rem);
    font-weight: 700;
    color: #006AFF;

    a {
      color: inherit;
    }
  }

  &__info {
    display: grid;
    grid-auto-flow: row;
    gap: 12px;
  }

  &__title {
    a::before {
      content: '';
      position: absolute;
      inset: 0;
    }
  }

  &__excerpt {
    font-size: 0.875rem;
  }

  &__date {
    position: absolute !important;
    top: 0.4em;
    left: 0;
    font-size: 12px;
    font-family: Outfit, Inter, sans-serif;
    color: #979797;
  }

  &__footer {
    position: relative;
    margin-top: auto !important;
  }

  &.with-shadow {
    &::before {
      content: '';
      position: absolute;
      inset: -12px -13px -15px -13px;
      background-color: #fff;
      border-radius: var(--main-border-radius);
      box-shadow: 0 4px 14px rgba(0,0,0,0.16);
      opacity: 0;
      transition: opacity 300ms ease;
      z-index: -1;
    }

    &:hover::before {
      opacity: 1;
    }
  }
}

.article-grid-layout {
  .wp-block-post {
    display: grid;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-rows: 1fr;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(var(--col, 3), minmax(0,1fr));
    grid-auto-flow: row;
    gap: 60px !important;
    justify-content: space-between;

    &:has(~ *) {
      margin-block-end: 70px;
    }

    @include desktop-md {
      gap: 40px !important;
    }

    @include mobile {
      --col: 1;
    }
  }
}


.pill-styled-btn,
.pill-styled-tab {
  display: grid;

  > * {
    color: inherit;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.04em;
    padding: 0.1em 1em;
    border-radius: var(--main-border-radius);
    background-color: transparent;
    display: block;
    border-width: 2px;
    border-style: solid;
    border-color: currentColor;
    outline: none;

    &:hover,
    &:active,
    &:focus {
      background-color: transparent;
      border-color: inherit;
      color: inherit;
      outline-offset: 0;
    }

    &:focus {
      outline: none;
    }
  }
}

.pill-styled-btn {
  text-transform: uppercase;

  > * {
    min-width: 13rem !important;
    border-color: currentColor;

    &:hover {
      color: #006AFF;
      border-color: currentColor;
    }
  }
}

.pill-styled-tab {
  &.active,
  &[aria-checked="true"],
  &:focus-within {
    > * {
      outline: 1px solid #006AFF;
      border-color: #006AFF;
    }
  }

  > * {
    border-color: transparent;

    &:hover,
    &:active,
    &:focus {
      color: currentColor;
      border-color: #006AFF;
    }
  }
}

.cta-btn {
  text-transform: uppercase;

  > * {
    font-size: 1.125rem;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.04em;
    min-width: 16em !important;
    padding: 0.4em 1.5em;
    border-radius: var(--main-border-radius) !important;
    background-color: var(--btn-bg-color, #006AFF) !important;
    display: block;
    border-width: 2px;
    border-style: solid;
    border-color: var(--btn-border-color, #006AFF) !important;
    color: var(--btn-text-color, #fff) !important;
    transition: all 200ms ease;
  }
}


.custom-input {
  --highlight-c: #006AFF;
  position: relative;

  &::before {
    font-family: 'Material Symbols Outlined';
    position: absolute;
    left: 2rem;
    top: 50%;
    transform: translateY(-50%);
    color: #5a5a5a;
    z-index: 1;
    font-size: 1.75rem;
    line-height: 1;

    @include mobile {
      left: 1rem;
    }
  }

  &__icon,
  .wp-block-search__button {
    position: absolute;
    left: 2rem;
    top: 50%;
    translate: 0 -50%;
    padding: 0;
    margin: 0;
    background-color: transparent !important;

    @include mobile {
      left: 1rem;
    }
  }

  input {
    padding-block: 1em;
    padding-inline-end: 2rem;
    padding-inline-start: 5.3rem;
    border-radius: var(--main-border-radius) !important;
    color: currentColor;
    letter-spacing: 0.04em;
    font-size: 1.125rem !important;
    font-family: Outfit, Inter, 'Noto Sans TC', sans-serif;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.16);

    &::placeholder {
      color: #979797;
    }

    &::-webkit-search-cancel-button {
      display: none;
    }

    @include mobile {
      font-size: 1rem !important;
      padding-inline-start: 3.2rem;
    }
  }

  svg {
    vertical-align: text-bottom;
    color: #5a5a5a;
  }

  &:hover {
    &::before {
      color: var(--highlight-c);
    }

    input {
      outline: 2px solid var(--highlight-c);
    }

    svg {
      color: var(--highlight-c);
    }
  }

  &:has(input:focus),
  &:has(input:focus-visible) {
    &::before {
      color: var(--highlight-c);
    }

    input {
      outline: 3px solid var(--highlight-c);
    }

    svg {
      color: var(--highlight-c);
    }
  }

  &.custom-search {
    .wp-block-search__button {
      left: 1.5rem;

      svg {
        scale: -1 1;
        width: 40px;
        height: 40px;
      }

      @include mobile {
        left: 0.5rem;
      }
    }
    // &::before {
    //   content: '\e8b6';
    // }
  }
}

.custom-pagination {
  display: grid !important;
  place-content: center;
  place-items: center;
  grid-template-columns: 38px auto 38px;
  gap: 20px;
  font-family: Outfit, Inter, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.04em;

  .wp-block-query-pagination-previous,
  .wp-block-query-pagination-next,
  .wp-block-query-pagination-numbers {
    margin: 0;
  }

  .wp-block-query-pagination-numbers {
    grid-column: 2 / 3;
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
    align-items: center;


    &::after {
      content: '|';
      grid-column: 2 / 3;
      font-weight: 400;
    }
  }

  .page-numbers:not(:last-child):not(.current) {
    display: none;
  }

  .wp-block-query-pagination-previous::after,
  .wp-block-query-pagination-next::after {
    font-family: 'Material Symbols Outlined';
    display: grid;
    place-items: center;
    width: 38px;
    height: 38px;
    font-size: 24px;
    font-weight: 700;
    border-radius: var(--main-border-radius);
    border: 2px solid currentColor;
  }

  .wp-block-query-pagination-previous::after {
    content: '\e5cb';
  }

  .wp-block-query-pagination-next::after {
    content: '\e5cc';
  }

  &:not(:has(.wp-block-query-pagination-previous))::before,
  &:not(:has(.wp-block-query-pagination-next))::after {
    font-family: 'Material Symbols Outlined';
    display: grid;
    place-items: center;
    width: 38px;
    height: 38px;
    font-size: 24px;
    font-weight: 700;
    color: #dedede;
    border-radius: var(--main-border-radius);
    border: 2px solid currentColor;
  }

  &:not(:has(.wp-block-query-pagination-previous)) {
    &::before {
      content: '\e5cb';
      grid-column: 1 / 2;
    }
  }

  &:not(:has(.wp-block-query-pagination-next)) {
    &::after {
      content: '\e5cc';
      grid-column: 3 / 4;
    }
  }
}

.share-tool {
  display: grid;
  grid-auto-flow: row;
  gap: 20px;

  a:not(:hover) {
    color: inherit;
  }
}
/* Component Class End */

.custom-menu-items {
  display: grid;
  grid-auto-flow: column;
  gap: 32px;
  align-items: center;

  a,
  button {
    display: block;
    text-decoration: none;
    cursor: pointer;
    appearance: none;
    background: none;
    border: none;
    padding: 0;

    &:hover {
      color: var(--wp--preset--color--accent);
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  //  p,
  //  br {
  //   margin: 0;
  //   display: none;
  // }

  .material-symbols-outlined {
    display: block;
  }

  .custom-menu-items__dropdown {
    position: relative;

    &-item {
      --min-col-w: auto;
    }
  }

  .search-btn,
  .lang-btn {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }

  // .lang-btn {
  //   display: flex;
  //   align-items: center;
  //   gap: calc(2em - 24px);
  // }

  @media (width >= 600px) {
    .custom-menu-items__dropdown-item {
      position: absolute;
      // top: 100%;
      // left: 50%;
      // translate: -50%;
      white-space: nowrap;
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.1s linear;
    }


    .custom-menu-items__dropdown-btn[aria-expanded="true"] ~ .custom-menu-items__dropdown-item {
      opacity: 1;
      visibility: visible;
    }
  }

  @media (width < 600px) {
    grid-auto-flow: row;


    .search-btn {
      &::after {
        content: 'Search';
        font-weight: 500;
        font-size: 1rem;
      }
    }

    .lang-btn {
      &::after {
        content: 'Lang';
        font-weight: 500;
        font-size: 1rem;
      }
    }
  }
}

/* .custom-menu-items .custom-menu-items__dropdown--btn {
  display: flex;
  align-items: center;
  gap: 8px;
} */

.logo-gallery {
  --col-count: 6;
  position: relative;
  display: grid !important;
  grid-template-columns: repeat(var(--col-count),1fr) !important;
  grid-auto-flow: row;
  grid-auto-rows: 1fr;
  gap: 1px !important;
  overflow: hidden;

  @include desktop-sm {
    --col-count: 4;
  }

  @include mobile {
    --col-count: 3;
  }

  > * {
    position: relative !important;
    width: 100% !important;
    height: 100% !important;
    padding: 13px 9px;
    background-color: #fff;

    &::before {
      content: '';
      position: absolute;
      inset: -1px;
      background-color: #DADADA;
      z-index: -1;
    }
  }

  img {
    width: 100% !important;
    height: 100% !important;
    aspect-ratio: 150/68;
    object-fit: contain;
  }
}

.read-more {
  display: flex;
  align-items: center;
  width: 100%;
  font-weight: 700;
  font-family: Outfit, Inter, 'Noto Sans TC', sans-serif;

  &::after {
    content: '';
    width: 0.4em;
    aspect-ratio: 1/1;
    margin-inline: 0.25em;
    display: block;
    border-right: 1px solid currentColor;
    border-bottom: 1px solid currentColor;
    transform: rotate(-45deg);
  }

  a {
    color: currentColor !important;
  }
}

.custom-read-more {
  position: relative;
  overflow: hidden;
  font-size: 1rem;
  padding-bottom: 0.7em;

  .read-more {
    justify-content: end;
  }

  &::after,
  &::before {
    content: '';
    position: absolute;
    inset-inline: 0;
    bottom: 0;
    transition: transform 300ms ease;
  }

  &::before {
    height: 1px;
    background-color: #DADADA;
  }

  &::after {
    height: 2px;
    background-color: #006AFF;
    transform: translateX(-100%);
  }
}

.group-hover:hover .custom-read-more::after,
.custom-read-more:hover::after {
  transform: translateX(0);
}

.group-hover:hover .read-more,
.read-more:hover {
  color: #006AFF;
}

.home-latest-article {
  position: relative;
  display: grid;
  grid-template-columns: var(--grid-layout-2-1-col);
  gap: 3rem;

  &__img {
    --ratio: 744/450;
  }

  &__info {
    .custom-read-more {
      margin-block-start: auto;
    }
  }

  &__title {
    font-weight: 400;

    a {
      &::before {
        content: '';
        position: absolute;
        inset: 0;
      }
    }
  }

  &__category {
    font-weight: 400;
  }
}
.home-event-card {
  position: relative;
  display: grid;
  grid-template-columns: 41.336% minmax(0, 1fr);
  padding: 20px;
  gap: var(--grid-layout-gap);
  min-height: 240px;
  border: 2px solid #979797;
  border-radius: var(--main-border-radius);

  &__img {
    --ratio: auto;
    position: relative;

    .aspect-img {
      position: absolute;
      inset: 0;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-block-start: 0.5em;
    // align-self: end;
  }

  &__content {
    margin-block: auto;
    font-size: 0.875rem;
  }

  .read-more {
    font-size: 1.125rem;


    a {
      &::before {
        content: '';
        position: absolute;
        inset: 0;
      }
    }
  }

  &:hover {
    border-color: #006AFF;

    .home-event-card__title {
      color: #006AFF;
    }

    .read-more {
      color: #2e2e2e;
    }
  }

  // @include desktop-only {
  //   &__info {
  //     padding-top: 10px !important;
  //   }
  // }

  @include mobile {
    grid-template-columns: 100%;
    padding: 16px;

    &__img {
      --ratio: 396/198;

      .aspect-img {
        position: relative;
      }
    }
    &__info {
      padding-block-start: 0;
    }
  }
}
.omni-channel {
  display: grid;
  grid-auto-flow: row;
  gap: 44px;

  > * {
    width: 100%;
  }

  &__tab {
    min-width: 7.5rem;
  }

  &__container {
    flex: 1;
    display: grid;
    grid-auto-flow: row;
    gap: 70px;
  }
  &__tab-list {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 8.2rem;
    gap: 1rem;
  }
  &__tab-content {
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 70px;

    &:not(.active) {
      display: none;
    }
  }
  &__tab-footer {
    place-self: center;
  }
  &__gallery {
    display: grid;
    grid-template-columns: var(--grid-layout-2-1-col);
    grid-template-rows: repeat(3, 1fr);
    column-gap: var(--grid-layout-gap);
    row-gap: 30px;
  
    .article-card {
      @include desktop-only {
        &:first-child {
          grid-row: 1 / -1;
    
          .article-card__title {
            --line: 3;
          }
        }
      
        &:not(:first-child) {
          .article-card__img {
            display: none;
          }
        }
      }
    }
  }

  &__no-posts {
    display: grid;
    place-items: center;
    font-size: 1.5rem;
    color: #979797;
    min-height: 30vh;
  }
}

.resources {
  .article-grid-layout__grid {
    margin-block-end: 40px;
  }

  .resource-card {
    position: relative;
  
    &__title {
      text-align: center;
  
      a::before {
        content: '';
        position: absolute;
        inset: 0;
      }
    }
    
    &__img {
      --ratio: 386/246;
    }
  
    &:hover .resource-card__title  {
      color: #006AFF;
    }
  }  
}

.cases {
  .case-card {
    &__logo {
      --ratio: 176/54;
      max-width: 176px;

      img {
        object-position: left center;
        object-fit: contain;
      }
    }

    &__category {
      color: #979797;

      a:hover {
        color: #006AFF;
      }
    }
  }
}

.footer-banner {
  font-size: 1.375rem;

  .cta-btn {
    --btn-bg-color: #fff;
    --btn-border-color: #fff;
    --btn-text-color: #006AFF;

    &:hover {
      --btn-bg-color: #0403B7;
      --btn-text-color: #fff;
    }
  }
}

.faq {
  display: grid;
  grid-auto-flow: row;
  place-items: center;
  gap: 4.375rem;

  &-list {
    display: grid;
    grid-auto-flow: row;
    gap: 1.875rem;
  }

  .faq-card {
    position: relative;
    background-color: #F5F9FF;
    border: 2px solid #979797;
    border-radius: var(--main-border-radius);
    padding: 28px 40px 33px;
    display: grid;
    gap: 48px;
    grid-template-columns: 32.8% minmax(0, 1fr) max-content;

    &__q,
    &__a {
      display: flex;
      flex-direction: column;

      &::before {
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 1;
        margin-bottom: 8px;
      }
    }

    &__q {
      padding-inline-start: 0.5rem;
      font-size: 1.625rem;

      h3 {
        margin: 0;
      }

      &::before {
        content: 'Q:';
      }
    }

    &__a {
      padding-inline-start: 0.75rem;
      font-size: 0.875rem;
      line-height: 1.75;

      &::before {
        content: 'A:';
        color: #006AFF;
      }

      &-content {
        --line: 6;
        position: relative;
        margin: 0;
        max-height: 10.5em;
        overflow: hidden;
      }
    }

    .read-more {
      align-self: end;

      &::before {
        content: '';
        position: absolute;
        inset: 0;
      }
    }

    @include mobile {
      grid-template-columns: 100%;
      grid-auto-flow: row;
      gap: 24px;
      padding: 24px;

      &__q {
        padding-inline-start: 0;
      }

      &__a {
        padding-inline-start: 0;

        &-content {
          column-count: initial;
          max-height: initial;

          > p + p {
            margin-top: 0.75em;
          }
        }
      }
    }
  }
}

.article {
  // --base-line-height: 1.75;
  // --base-text-size: 1.125rem;
  // --para-spacing: calc(var(--base-line-height) * var(--base-text-size));

  &__header {
    display: grid;
    grid-auto-flow: row;
    gap: 12px;
    padding-top: 28px;
    padding-bottom: 20px;
  }

  &__main {
    display: grid;
    grid-template-columns: 15.6% minmax(0, 1fr) 200px;
    gap: 80px;

    @include desktop-sm {
      grid-template-columns: max-content minmax(0, 1fr) 150px;
      gap: 40px;
    }

    @include mobile {
      grid-template-columns: minmax(0, 1fr) max-content;
    }
  }

  &__content {
    @include mobile {
      grid-column: 1 / -1;
      grid-row: 1 / 2;
    }
  }

  &__sidebar {
    position: relative;
    z-index: 10;

    a,
    svg {
      display: block;
    }

    p,
    br {
      display: none;
    }

    button {
      margin: 0;
      padding: 0;
      appearance: none;
      background-color: transparent;
      border: none;
      cursor: pointer;
      color: inherit;
      transition: color 200ms ease;

      &:hover {
        color: #006AFF;
      }
    }

    &--right {
      position: sticky;
      top: calc(var(--scroll-offset) + 1.25rem);
      align-self: start;

      .sticky-articles {
        --ratio: 200/126;
        --gap: 36px;
        display: grid;
        grid-auto-flow: row;
        grid-auto-rows: max-content;
        gap: var(--gap);
        justify-content: center;
        height: calc(100vh - var(--scroll-offset) - 1.25rem);
        padding-block-end: 1.25rem;
        overflow-y: auto;

        @media (height <= 768px) {
          --gap: 20px;

          .sticky-item {
            max-width: 150px !important;
          }
        }
      }

      @include mobile {
        display: none;
      }
    }

    &--left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: start;
      color: #5A5A5A;
    }

    .share-tool {
      position: sticky;
      top: calc(var(--scroll-offset) + 1.25rem);
      margin-block-end: 80px;
    }

    .back-to-toc {
      position: sticky;
      bottom: 20px;
      margin-block-start: 160px;
    }

    @include mobile {
      > * {
        top: auto;
        bottom: 1.25rem;
      }

      &--left {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        right: calc(var(--wp--style--root--padding-right) * -1 + 8px);
      }
    }
  }

  &__category .taxonomy-category {
    font-weight: 400;
  }

  &__date {
    font-size: 0.875rem;
    color: #979797;
  }

  &__image {
    --ratio: 628 / 380;
    max-width: 628px;
    margin-inline: auto !important;
  }

  .sticky-item {
    position: relative;
    display: grid;
    grid-auto-rows: max-content;
    gap: 8px;
    text-align: center;

    &__title {
      margin-block: 0;
      line-height: 1.33;
      font-weight: 500;
    }

    a::after {
      content: '';
      position: absolute;
      inset: 0;
    }

    &:hover {
      color: #006aff;
    }
  }

  .toc {
    // margin-block: var(--article-para-spacing);
    &-title {
      font-weight: 700;
      margin: 0 !important;
      color: #0033E6;
    }

    &-list {
      color: #0033E6;

      ul {
        list-style-type: "- ";
        color: #5A6677;

        li::marker {
          font-size: 1.33em;
          line-height: 1;
        }
      }
    }

    ul {
      margin: 0;
      padding-inline-start: 1em;
    }

    a {
      color: inherit;
      font-weight: 500;

      &:hover {
        text-underline-offset: 4px;
        text-decoration: underline;
      }
    }
  }
}

.related-articles {
  display: grid;
  grid-auto-flow: row;
  gap: 70px;
  margin-block: 110px 120px !important;

  &__title {
    text-align: center;
    font-weight: 700;
  }
  
  .related-card {
    br {
      display: none;
    }
  
    p {
      margin-block: 0;
    }
  }

  @include mobile {
    margin-block: 70px 80px !important;
    gap: 40px;
  }
}

.solution-card {
  margin-block: 120px 110px !important;
  padding-block: 40px !important;
  padding-inline: 44px 24px !important;
  display: grid;
  grid-template-columns: minmax(0, 1fr) 50.5%;
  gap: 40px;
  justify-content: space-between;
  font-size: 0.875rem;
  border: 2px solid #006AFF;
  background-color: #F5F9FF;
  border-radius: var(--main-border-radius);

  @include mobile {
    padding-block: 24px !important;
    padding-inline: 32px !important;
    margin-block: 80px 70px !important;
    grid-template-columns: minmax(0, 1fr);
  }

  &__info {
    max-width: 460px;
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: max-content;
    gap: 12px;

    > p:first-child {
      font-size: 2.125rem;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 81px;

    @include mobile {
      grid-template-columns: minmax(0, 1fr);
      gap: 41px;
    }
  }

  &__list {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;

    > p:first-child {
      font-size: 1.125rem;
    }

    :has(.read-more) {
      margin-block-start: auto;
      font-size: 1rem;
    }
    
    + .solution-card__list::before {
      content: '';
      position: absolute;
      background-color: #979797;
    }

    @include desktop-only {
      max-width: 230px;

      + .solution-card__list::before {
        left: -40px;
        inset-block: 0;
        width: 1px;
      }
    }

    @include mobile {
      + .solution-card__list::before {
        top: -20px;
        inset-inline: 0;
        height: 1px;
      }
    }
  }
}

.site-footer {
  --grid-col: 14.5% 17.3% 18.2% 15.9% 13.6% minmax(0, 1fr);
  color: #D2D2D2;
  font-size: 0.875rem;
  letter-spacing: 0.04em;
  line-height: 2.125rem;

  @include desktop-sm {
    --grid-col: repeat(3, 1fr) !important;
  }

  @include mobile {
    --grid-col: repeat(2, 1fr) !important;
  }

  p {
    margin-block: 0;
  }

  ul {
    list-style: none;
    padding-inline-start: 0;
  }

  a {
    color: inherit;

    &:hover {
      text-decoration: underline;
      text-underline-offset: 4px;
    }
  }



  &__grid {
    display: grid;
    grid-template-columns: var(--grid-col);
    gap: 20px;
  }

  &__copyrights {
    align-items: center;
    line-height: normal;

    @media (width > 1024px) {
      >:nth-child(1) {
        grid-column: span 2;
      }
  
      >:nth-child(2) {
        grid-column: span 2;
      }
    }

    // @include desktop-sm {
    //   >:nth-child(2) {
    //     grid-row: 3 / 4;
    //   }
    // }
    
    @include mobile {
      grid-template-columns: minmax(0, 1fr);

      >:nth-child(2) {
        grid-row: 3 / 4;
      }
    }
  }

  .copyrights {
    white-space: nowrap;
  }

  .nav-item {
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    line-height: inherit;
  }

  .download-item {
    max-width: 182px;

    + .download-item {
      margin-block-start: 18px;
    }
  }

  .social-media-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

    svg {
      fill: currentColor;
      display: inline-block;
    }

    .social-media-item {
      display: inline-block;
      line-height: 1;

      &:hover {
        color: #fff;
      }
    }
  }
}

:lang(zh) {
  .site-footer {
    --grid-col: repeat(3, 13.1%) 23.4% 16% 21.3%;
  }
}

.navbar {
  --menu-breakpoint: 1024px;
  position: sticky;
  top: var(--wp-admin--admin-bar--height, 0);
  height: var(--navbar-height);
  background-color: #F5F5F5;
  padding: 20px 24px;
  z-index: 99999;
  box-shadow: 0 1px 14px rgba(0, 0, 0, 0.16);

  @include mobile {
    padding: 16px;
  }

  button {
    display: block;
    padding: 0;
    margin: 0;
    border: none;
    appearance: none;
    cursor: pointer;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .navbar__container {
    max-width: var(--wp--style--global--content-size);
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 36px;
    height: 100%;

    @include mobile {
      gap: 12px;
    }
  }

  .navbar__logo {
    display: flex;
    align-items: center;
    gap: 24px;
    font-size: 1.125rem;
    font-weight: 500;
    color: #515150;

    .logo {
      position: relative;
      display: flex;
      aspect-ratio: 176/50;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    
      &::after {
        content: '';
        position: absolute;
        right: -12px;
        top: 50%;
        transform: translateY(-50%);
        width: 2px;
        height: 1em;
        background-color: #9f9f9f;
      }
    }



    @include mobile {
      .logo {
        max-width: 140px;
      }
    }

    @media (width <= 480px) {
      span,
      .logo::after {
        display: none;
      }
    }
  }

  .navbar__icon {
    &:not(:hover) {
      color: #5a5a5a;
    }

    svg {
      display: block;
    }

    span {
      display: none;
    }
  }

  .navbar__menu {
    margin-left: auto;
  }

  .navbar__menu--toggle {
    position: relative;
    display: grid;
    grid-auto-flow: row;
    gap: 7px;
    place-content: center;
    width: 40px;
    height: 40px;
    font-size: 0;
    line-height: 0;
    color: transparent;
    flex-shrink: 0;
    background-color: transparent;

    span {
      display: block;
      width: 30px;
      height: 2px;
      background-color: #5a5a5a;
      transition: all 200ms ease;
    }

    @media (width > 1024px) {
      display: none;
    }
  }

  .menu {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 36px;
  }

  .menu-item {
    position: relative;
    font-weight: 400;
    text-wrap: balance;
    color: #5a5a5a;
    z-index: 0;

    &:hover {
      color: #006AFF;
    }

    &:has(.sub-menu) > :first-child {
      position: relative;
      z-index: 1;

      &:hover {
        color: #006AFF;
      }

      @media (width > 1024px) {
        display: flex;
        align-items: center;
        gap: 10px;

        &::after {
          content: '';
          width: 8px;
          height: 8px;
          border-left: 1px solid currentColor;
          border-bottom: 1px solid currentColor;
          rotate: -45deg;
          translate: 0 -25%;
        }
      }
    }

    .sub-menu {
      display: grid;
      grid-auto-flow: row;
      grid-template-columns: repeat(var(--col, 1), minmax(var(--min-col-w, 12em), 1fr));
      gap: var(--gap, 1em);
      font-size: 0.875rem;

      @media (width > 1024px) {
        position: absolute;
        top: calc(100% + 0.75rem);
        padding-block: 1.25rem;
        padding-inline: 1.25rem;
        background-color: #f1f1f1;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.16);

        &:not([aria-expanded="true"]) {
          display: none;
        }

        &::before {
          content: '';
          position: absolute;
          inset: 0;
          top: -1rem;
          height: 1rem;
          z-index: -1;
        }
      }
    }
  }

  .lang-menu {
    --min-col-w: auto;
    text-wrap: nowrap;
  }

  .official-site {
    a {
      display: block;
      min-width: 7.14em;
      border-radius: 999px 999px 0 999px;
      padding: 0.25em 1.2em !important;
      color: #fff !important;
      background-color: #006AFF;
      font-size: 0.875rem;
      text-align: center;

      &:hover {
        background-color: #0033E6;
      }
    }
  }



  &[aria-expanded="true"] .navbar__menu--toggle {
    :nth-child(1) {
      rotate: 45deg;
      translate: 0 calc(7px + 50% + 1px);
    }

    :nth-child(2) {
      opacity: 0;
    }

    :nth-child(3) {
      rotate: -45deg;
      translate: 0 calc(-7px - 50% - 1px);
    }
  }

  @media (width <= 1024px) {
    &:is([aria-expanded="false"]) .navbar__menu {
      display: none;
    }

    .navbar__menu {
      position: fixed;
      inset-block-start: var(--wp-admin--admin-bar--height, 0px);
      inset-inline: 0;
      inset-block-end: 0;
      display: grid;
      grid-template-rows: 1fr;
      align-items: start;
      background-color: #f1f1f1;
      z-index: 10;

      > .menu {
        width: 100%;
        max-height: 100%;
        margin-inline: auto;
        padding-inline: 40px;
        padding-block: 80px;
        overflow-y: auto;
      }

      .navbar__menu--toggle {
        position: absolute;
        top: calc(var(--navbar-height) * 0.5);
        right: 16px;
        translate: 0 -50%;
      }
    }

    .navbar__icon {
      svg {
        display: none;
      }

      span {
        display: block;
        font-size: 1rem;
        font-weight: 500;
      }
    }

    .navbar__lang {
      pointer-events: none;
    }

    .menu {
      grid-auto-flow: row;
      gap: 1.5em;
    }

    .official-site {
      margin-inline-start: auto;
    }

    .menu-item {
      [href="#"] {
        pointer-events: none;
        font-weight: 500;
      }

      .sub-menu {
        --gap: 0.5em;
        margin-block-start: 1rem;
        padding-inline-start: 2rem;
      }
    }
  }
}

.search-result {
  &__input > .custom-input {
    max-width: 614px;
  }
}

.search-result,
.category-result {
  .article-grid-layout:not(:has(.no-result)) {
    margin-block-start: 32px;
  }

  .no-result {
    padding: 0;

    p {
      margin: 0 !important;
      padding: 0 !important;
    }
  }
}

// Editor Styles
.article {
  .wp-block-post-content {
    font-size: var(--article-base-text-size);
    line-height: var(--article-base-line-height);

    .wp-block-heading {
      font-weight: 500;
    }

    > * ~ * {
      // padding: 0 !important;
      margin-block: var(--article-para-spacing) !important;
      margin-inline: auto !important;
    }

    > *:first-child {
      margin-block-start: 0 !important;
    }

    > *:last-child {
      margin-block-end: 0 !important;
    }

    h1,
    h2,
    h3 {
      font-size: 2.25rem !important;
      margin-block-start: 1.5em !important;
    }

    h4,
    h5 {
      font-size: 1.625rem !important;
      color: #006AFF !important;
      margin-block-end: 0.1em !important;

      + * {
        margin-block-start: 0 !important;
      }
    }

    figure {
      max-width: 628px !important;

      > *:not(figcaption):not(blockquote) {
        border-radius: var(--main-border-radius) !important;
        overflow: hidden;
      }

      figcaption {
        margin-block-start: 0.43 !important;
        margin-block-end: 0 !important;
        font-size: 0.875rem !important;
        color: inherit !important;

        @extend %text-truncate;
      }
    }

    blockquote {
      position: relative !important;
      max-width: 628px !important;
      padding-block: 5.4rem 2rem !important;
      padding-inline: 1.5rem !important;
      display: flex;
      flex-direction: column;
      gap: var(--article-para-spacing);
      background-color: transparent !important;
      border-block: 3px solid #006AFF !important;
      border-inline: none !important;
      border-radius: 0 !important;
      font-style: normal !important;
      font-size: var(--quote-text-size, 1.25rem) !important;
      text-align: center !important;
      letter-spacing: 0.04em !important;
      line-height: 1.7;

      &::before {
        content: '“';
        position: absolute;
        top: 1.25rem;
        left: calc(50% - 0.3em);
        color: #006AFF;
        font-family: 'Noto Sans TC', Inter, sans-serif;
        font-size: 7.5rem;
        line-height: 1;
        translate: -50%;
      }
      

      > p {
        margin-block-end: 0 !important;
        font-family: Outfit, 'Noto Sans TC', sans-serif;
      }

      > cite {
        font-size: 0.875rem !important;
        text-wrap: balance;
        line-height: 2.2;

        &::before {
          content: '';
          display: inline-block;
          margin-right: 0.5em;
          width: 6.25rem;
          height: 1px;
          background-color: currentColor;
        }
      }
    }
  }

  .inquiry-form {
    padding: 40px 40px 60px !important;
    background-color: #EFF6FF;
    border-radius: 12px;
    max-width: 628px;
    margin-block-start: 70px !important;
  
    &__title {
      margin-block-end: 0.75em !important;
      text-align: center;
      font-weight: 700;
    }
  
    @include mobile {
      padding: 40px 10px 60px !important;
  
      &__title {
        font-size: 1.75rem;
      }
    }
  }
}