:root {
  scroll-behavior: smooth;
  --grid-layout-2-1-col: 58% minmax(0, 1fr);
  --grid-layout-gap: 60px;

  @media (width < 1280px) {
    --grid-layout-2-1-col: repeat(2, minmax(0,1fr));
    --grid-layout-gap: 30px;
  }

  @media (width <= 768px) {
    --grid-layout-2-1-col: 100%;
    --grid-layout-gap: 30px;
  }
}

:lang(zh) {
  .dynamic-title {
    > * {
      font-size: 0.9em !important;
    }
  }
}

body {
  --wp--preset--font-size--small: 0.875rem;
  --wp--preset--font-size--medium: 1rem;
  font-size: var(--wp--preset--font-size--normal);

  a {
    text-decoration: none;
  }
}

/* Global Styles Start */
.wp-block-navigation__submenu-icon {
  svg {
    display: none !important;
  }

  &::after {
    content: '';
    display: block;
    width: 0.5em;
    height: 0.5em;
    border-bottom: 1px solid currentColor;
    border-right: 1px solid currentColor;
    transform: rotate(45deg) translateY(-0.2em);
  }
}

.wp-block-navigation-item.open-on-click .wp-block-navigation-submenu__toggle {
  padding-right: 1.2em;
}

.wp-block-navigation-submenu__toggle {
  &:hover,
  &:hover ~ .wp-block-navigation__submenu-icon {
    color: var(--wp--preset--color--accent) !important;
  }
}

.page-layout__header:has(#navbar) {
  position: sticky;
  top: var(--wp-admin--admin-bar--height, 0);
  z-index: 999;
}
/* Global Styles End */

/* Utility Class Start */
[class*="text-overflow-"] > * {
  display: inline !important;
}

.text-overflow-single {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap !important;
}

.text-truncate {
  display: -webkit-box;
  -webkit-line-clamp: var(--line, 2);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.text-overflow-lines-2 {
  --line: 2;
  @extend .text-truncate;
}

.text-overflow-lines-3 {
  --line: 3;
  @extend .text-truncate;
}

.text-overflow-lines-4 {
  --line: 4;
  @extend .text-truncate;
}

.aspect-img {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  width: 100%;
  aspect-ratio: var(--ratio, 1/1);

  figure {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  img {
    width: 100%;
    height: 100%;
    object-position: center top;
    object-fit: cover;
    border-radius: 12px !important;
  }
}

.dynamic-title {
  // text-wrap: balance;
  letter-spacing: 0.02em;
  font-size: 1em;
  color: currentColor;
  line-height: 1.35;
  margin-block: 0;

  > * {
    font: inherit;
    color: inherit;
    line-height: inherit;
    margin-block: inherit;
  }

  a {
    &:hover {
      text-decoration: none;
      color: currentColor;  
    }
  }
}

.horizontal-card-layout {
  display: flex;
  align-items: stretch !important;

  @media (width <= 768px) {
    flex-direction: column;
    gap: 24px !important;
  }
}

.article-categories {
  > *:not(:first-child) {
    display: none;
  }
}
/* Utility Class End */

/* Component Class Start */
.article-card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 0;

  .custom-read-more {
    margin-top: auto;
  }

  &__img {
    --ratio: 386/246;
  }

  &__info {
    display: grid;
    grid-auto-flow: row;
    gap: 12px;
  }

  &__category {
    font-size: 1rem;
    font-weight: 700;
    color: #006AFF;

    @extend .article-categories;

    a {
      color: inherit;
    }
  }

  &__title {
    a::before {
      content: '';
      position: absolute;
      inset: 0;
    }
  }

  &__excerpt {
    font-size: 14px;
  }

  &__date {
    position: absolute !important;
    top: 0.4em;
    left: 0;
    font-size: 12px;
    font-family: Outfit, Inter, sans-serif;
    color: #979797;
  }

  &__footer {
    position: relative;
    margin-top: auto !important;
  }

  &.with-shadow {
    &::before {
      content: '';
      position: absolute;
      inset: -12px -13px -15px -13px;
      background-color: #fff;
      border-radius: 12px;
      filter: drop-shadow(0 4px 14px rgba(0,0,0,0.16));
      opacity: 0;
      transition: opacity 300ms ease;
      z-index: -1;
    }

    &:hover::before {
      opacity: 1;
    }
  }
}

.article-grid-layout {
  .wp-block-post {
    display: grid;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(var(--col, 3), minmax(0,1fr));
    grid-auto-flow: row;
    gap: 60px;
    justify-content: space-between;
  
    @media (width <= 1280px) {
      gap: 40px;
    }
  
    @media (width <= 768px) {
      --col: 1;
      gap: 40px;
    }
  }
}


.pill-styled-btn,
.pill-styled-tab {
  > * {
    color: inherit;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.02em;
    padding: 0.1em 1em;
    border-radius: 12px;
    background-color: transparent;
    display: block;
    border-width: 2px;
    border-style: solid;
    border-color: currentColor;
    outline: none;

    &:hover,
    &:active,
    &:focus {
      background-color: transparent;
      border-color: inherit;
      color: inherit;
      outline-offset: 0;
    }

    &:focus {
      outline: none;
    }
  }
}

.pill-styled-btn {
  text-transform: uppercase;

  > * {
    min-width: 13rem !important;
    border-color: currentColor;

    &:hover {
      color: #006AFF;
      border-color: currentColor;
    }
  }
}

.pill-styled-tab {
  &.active,
  &[aria-checked="true"],
  &:focus-within {
    > * {
      outline: 1px solid #006AFF;
      border-color: #006AFF;
    }
  }

  > * {
    border-color: transparent;

    &:hover,
    &:active,
    &:focus {
      color: currentColor;
      border-color: #006AFF;
    }
  }
}

.cta-btn {
  text-transform: uppercase;

  > * {
    font-size: 1.125rem;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.02em;
    min-width: 16em !important;
    padding: 0.4em 1.5em;
    border-radius: 12px !important;
    background-color: var(--btn-bg-color, #006AFF);
    display: block;
    border-width: 2px;
    border-style: solid;
    border-color: var(--btn-border-color, #006AFF);
    color: var(--btn-text-color, #fff);
    transition: all 200ms ease;
  }
}


.custom-input {
  position: relative;

  &::before {
    font-family: 'Material Symbols Outlined';
    position: absolute;
    left: 2rem;
    top: 50%;
    transform: translateY(-50%);
    color: #5a5a5a;
    z-index: 1;
    font-size: 1.5rem;

    @media (width <= 768px) {
      left: 1rem;
    }
  }

  input {
    padding: 1.7rem 2rem 1.7rem 5.31rem;
    filter: drop-shadow(0 4px 10px rgba(0,0,0,0.1));
    color: #979797;
    letter-spacing: 0.02em;

    &::placeholder {
      color: #979797;
    }

    @media (width <= 768px) {
      padding: 1rem 2rem 1rem 3.2rem;
    }
  }

  &:has(input:focus),
  &:has(input:focus-visible),
  &:hover {
    &::before {
      color: #006AFF;
    }

    input {
      outline: 2px solid #006AFF;
    }
  }

  &.custom-search {
    &::before {
      content: '\e8b6';
    }
  }
}

/* Component Class End */

.custom-menu-items {
  display: grid;
  grid-auto-flow: column;
  gap: 32px;
  align-items: center;

  a,
  button {
    display: block;
    text-decoration: none;
    cursor: pointer;
    appearance: none;
    background: none;
    border: none;
    padding: 0;

    &:hover {
      color: var(--wp--preset--color--accent);
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  //  p,
  //  br {
  //   margin: 0;
  //   display: none;
  // }

  .material-symbols-outlined {
    display: block;
  }

  .custom-menu-items__dropdown {
    position: relative;

    &-item {
      --min-col-w: auto;
    }
  }

  .search-btn,
  .lang-btn {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }

  // .lang-btn {
  //   display: flex;
  //   align-items: center;
  //   gap: calc(2em - 24px);
  // }

  @media (width > 768px) {
    .custom-menu-items__dropdown-item {
      position: absolute;
      // top: 100%;
      // left: 50%;
      // translate: -50%;
      white-space: nowrap;
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.1s linear;
    }


    .custom-menu-items__dropdown-btn[aria-expanded="true"] ~ .custom-menu-items__dropdown-item {
      opacity: 1;
      visibility: visible;
    }
  }

  @media (width <= 768px) {
    grid-auto-flow: row;


    .search-btn {
      &::after {
        content: 'Search';
        font-weight: 500;
        font-size: 1rem;
      }
    }

    .lang-btn {
      &::after {
        content: 'Lang';
        font-weight: 500;
        font-size: 1rem;
      }
    }
  }
}

#navbar {
  > .alignwide {
    max-width: var(--wp--style--global--content-size);
  }

  a {
    padding: 0;
    color: var(--wp--preset--color--contrast-2) !important;
    text-decoration: none !important;
    
    &:hover {
      color: var(--wp--preset--color--accent) !important;
    }
  }

  .wp-block-navigation__submenu-container {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(var(--col, 1), minmax(var(--min-col-w, 12em), 1fr));
    gap: var(--gap, 1em);
    font-size: 0.875rem;
    font-weight: 400;
    text-wrap: balance;
  }


  .nav-menu > nav {
    gap: 36px;
  }

  .custom-menu__official-site {
    .wp-element-button {
      border-radius: 999px 999px 0 999px !important;
      padding: 0.25em 1.7em !important;
      color: #fff !important;
      background-color: #006AFF;

      &:hover {
        background-color: #0033E6;
      }
    }
  }

  #lang-list {
    text-wrap: nowrap;
  }

  @media (width > 768px) {
    .wp-block-navigation__submenu-container {
      // --gap: 1em;
      // --col: 1;
      background-color: #f1f1f1 !important;
      border-radius: 10px !important;
      filter: drop-shadow(0 4px 10px rgba(0,0,0,0.16));
      border: none;
      overflow: hidden;
      padding: 1em 1.28em;
    }
  }

  @media (width <= 768px) {
    .wp-block-site-logo {
      width: 120px;

      ~ * {
        display: none;
      }
    }

    .nav-menu {
      flex-direction: row-reverse;
      gap: 20px;

      // > nav {
      //   gap: 20px;
      // }
    }

    // .wp-block-navigation__responsive-container-content {
    //   gap: 20px;
    // }

    .wp-block-navigation__submenu-container {
      border: none !important;
      padding: 1em calc(24px + 0.5em) 0;
      gap: 10px;
    }
  }
}


/* .custom-menu-items .custom-menu-items__dropdown--btn {
  display: flex;
  align-items: center;
  gap: 8px;
} */

.logo-gallery {
  position: relative;
  display: grid !important;
  grid-template-columns: repeat(6,1fr);
  grid-auto-flow: row;
  grid-auto-rows: 1fr;
  overflow: hidden;

  &::before,
  &::after {
    content: '';
    position: absolute;
    inset: -1px;
    border-color: #fff;
    border-style: solid;
    z-index: 1;
  }

  &::before {
    border-top-width: 2px;
    border-bottom-width: 2px;
  }

  &::after {
    border-left-width: 2px;
    border-right-width: 2px;
  }

  > * {
    position: relative !important;
    width: 100% !important;
    padding: 13px 9px;

    &::after,
    &::before {
      content: '';
      position: absolute;
      inset: -0.5px;
      border-color: #DADADA;
      border-style: solid;
    }

    &::before {
      border-top-width: 1px;
      border-bottom-width: 1px;
    }

    &::after {
      border-left-width: 1px;
      border-right-width: 1px;
    }
  }

  img {
    width: 100% !important;
    height: 100% !important;
    aspect-ratio: 150/68;
    object-fit: contain;
  }
}

.read-more {
  display: flex;
  align-items: center;
  width: 100%;
  font-weight: 700;

  &::after {
    content: '';
    width: 0.4em;
    aspect-ratio: 1/1;
    margin-inline: 0.25em;
    display: block;
    border-right: 1px solid currentColor;
    border-bottom: 1px solid currentColor;
    transform: rotate(-45deg);
  }
}

.custom-read-more {
  position: relative;
  overflow: hidden;
  font-size: 1rem;
  padding-bottom: 0.7em;

  .read-more {
    justify-content: end;
  }

  &::after,
  &::before {
    content: '';
    position: absolute;
    inset-inline: 0;
    bottom: 0;
    transition: transform 300ms ease;
  }

  &::before {
    height: 1px;
    background-color: #DADADA;
  }

  &::after {
    height: 2px;
    background-color: #006AFF;
    transform: translateX(-100%);
  }
}

.group-hover:hover .custom-read-more::after,
.custom-read-more:hover::after {
  transform: translateX(0);
}

.group-hover:hover .read-more,
.read-more:hover {
  color: #006AFF;
}

.home-latest-article {
  position: relative;
  display: flex;
  font-size: 1rem;
  letter-spacing: 0.02em;

  &__category a {
    font-size: 1.125rem;
    color: #006AFF;
  }

  &__img {
    --ratio: 744/450;
  }

  &__info {
    // align-self: stretch;

    .custom-read-more {
      margin-top: auto;
    }
  }

  &__title a {
    &:hover {
      color: currentColor;
    }

    &::before {
      content: '';
      position: absolute;
      inset: 0;
    }
  }
}

.home-event-card {
  position: relative;
  font-size: 0.875rem;
  border: 1px solid #979797;

  &__img {
    --ratio: 396/198;
  }

  &__title {
    a::before {
      content: '';
      position: absolute;
      inset: 0;
    }
  }

  .read-more {
    margin-top: auto;
    font-size: 1.125rem;
  }

  &:hover {
    border-color: #006AFF;

    .home-event-card__title {
      color: #006AFF;
    }
  }

  @media (width > 768px) {
    &__info {
      padding-top: 10px !important;
    }
  }
}

.omni-channel {
  display: grid;

  > * {
    width: 100%;
  }

  &__container {
    flex: 1;
    display: grid;
    grid-template-rows: 1fr max-content;
    gap: 70px;
  }
  &__tab-list {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 8.2rem;
    gap: 1rem;
  }
  &__tab-content {
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 70px;

    &:not(.active) {
      display: none;
    }
  }
  &__tab-footer {
    place-self: center;
  }
  &__gallery {
    display: grid;
    grid-template-columns: var(--grid-layout-2-1-col);
    grid-template-rows: repeat(3, 1fr);
    column-gap: var(--grid-layout-gap);
    row-gap: 30px;
  
    .article-card {
      &__title {
        font-size: 1.75rem;
      }
  
      @media (width > 768px) {
        &:first-child {
          grid-row: 1 / -1;
    
          .article-card__title {
            --line: 3;
          }
        }
      
        &:not(:first-child) {
          .article-card__img {
            display: none;
          }
        }
      }
    }
  }

  &__no-posts {
    display: grid;
    place-items: center;
    font-size: 1.5rem;
    color: #979797;
    min-height: 30vh;
  }
}

.resource-card {
  position: relative;

  &__title {
    a::before {
      content: '';
      position: absolute;
      inset: 0;
    }
  }
  
  &__img {
    --ratio: 386/246;
  }

  &:hover .resource-card__title  {
    color: #006AFF;
  }
}

.cases {
  .case-card {
    &__logo {
      --ratio: 176/54;
      max-width: 176px;

      img {
        object-position: left center;
        object-fit: contain;
      }
    }

    &__category {
      color: #979797;
    }
  }
}

.footer-cta {
  .cta-btn {
    --btn-bg-color: #fff;
    --btn-border-color: #fff;
    --btn-text-color: #006AFF;

    &:hover {
      --btn-bg-color: #0403B7;
      --btn-text-color: #fff;
    }
  }
}

.faq {
  .faq-card {
    background-color: #F5F9FF;
    border: 2px solid #979797;
    border-radius: 12px;
    padding: 28px 40px 33px;
    display: grid;
    gap: 40px;
    grid-template-columns: 32.8% minmax(0, 1fr) max-content;

    &__q,
    &__a {
      display: flex;
      flex-direction: column;

      &::before {
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 1;
        margin-bottom: 8px;
      }
    }

    &__q {
      padding-left: 8px;

      &::before {
        content: 'Q:';
      }
    }

    &__a {
      font-size: 14px;
      line-height: 1.75;

      &::before {
        content: 'A:';
        color: #006AFF;
      }

      &-content {
        // column-width: 20em;
        column-count: 2;
        max-height: 10.5em;
        overflow: hidden;
      }
    }

    .read-more {
      align-self: end;
    }

    @media (width <= 768px) {
      grid-template-columns: 100%;
      grid-auto-flow: row;
      gap: 24px;
      padding: 24px;

      &__q {
        padding-left: 0;
      }

      &__a {
        &-content {
          column-count: initial;
          max-height: initial;

          > p + p {
            margin-top: 0.75em;
          }
        }
      }
    }
  }
}